/* Loading screen */

.loading__container {
    --color-font: rgb(244, 239, 233);
    --color-black: #1c110f;
    --key-width: 3rem;
    --gap: 2px;

    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 1px solid red;
    background: black;
    color: var(--color-font);
    z-index: 10;
    font-size: 2.4rem;
    gap: 2rem;
}

.piano__keys {
    position: relative;
    display: flex;
    gap: var(--gap);
    border-radius: 50%;
}

.key {
    --animation-duration: 2s;
    height: 10rem;
    width: var(--key-width);
    animation: keyPress infinite;
    animation-duration: var(--animation-duration);
    animation-delay: var(--delay);
}

@keyframes keyPress {
    5% {
        background: red;
    }
    10% {
        background: var(--background);
    }
}

.white__key {
    --background: var(--color-font);
    background: var(--color-font);
}

.black__key {
    --background: var(--color-black);
    position: absolute;
    top: 0;
    background: var(--color-black);
    height: 6rem;
    width: calc(var(--key-width) / 2);
    z-index: 2;
    translate: calc(-50% - var(--gap) / 2) 0;
}

.key:nth-child(1) {
    --delay: 0s;
}

.key:nth-child(2) {
    --delay: calc(var(--animation-duration) / 12);
    left: calc(var(--key-width) + 1 * var(--gap));
}

.key:nth-child(3) {
    --delay: calc(2 * var(--animation-duration) / 12);
}

.key:nth-child(4) {
    --delay: calc(3 * var(--animation-duration) / 12);
    left: calc(2 * var(--key-width) + 2 * var(--gap));
}

.key:nth-child(5) {
    --delay: calc(4 * var(--animation-duration) / 12);
}

.key:nth-child(6) {
    --delay: calc(5 * var(--animation-duration) / 12);
}

.key:nth-child(7) {
    --delay: calc(6 * var(--animation-duration) / 12);
    left: calc(4 * var(--key-width) + 4 * var(--gap));
}

.key:nth-child(8) {
    --delay: calc(7 * var(--animation-duration) / 12);
}

.key:nth-child(9) {
    --delay: calc(8 * var(--animation-duration) / 12);
    left: calc(5 * var(--key-width) + 5 * var(--gap));
}

.key:nth-child(10) {
    --delay: calc(9 * var(--animation-duration) / 12);
}

.key:nth-child(11) {
    --delay: calc(10 * var(--animation-duration) / 12);
    left: calc(6 * var(--key-width) + 6 * var(--gap));
}

.key:nth-child(12) {
    --delay: calc(11 * var(--animation-duration) / 12);
}
